@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

/* variables */
:root {
  --heading-color: #444;
  --text-color: black;
  --primary-color: #F4F4F4;
  --highlight-color: #d13267;
  --bg-color: rgb(219, 219, 219);
}


* {
  box-sizing: border-box;
}

body {
  background: #FAFAFA !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, span, button {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

ul {
  list-style-type: none;
}

body, html, .App, #root, .app-container {
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}


.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.app-container {
  display: flex;
}

.main-content {
  width: 100%;
  margin: 20px;
  background-color: #FAFAFA;
  min-width: 350px;

}


/*Common*/
.page-content {
  max-width: 1300px;
  margin: 30px auto;
}

.page-header {
  margin: 10px;
}

.form-title {
  font-size: 24px;
  margin: 30px auto;
}

.page-title {
  font-size: 34px;
  font-weight: 600 !important;
}

.page-content-title {
  font-size: 20px;
  font-weight: 500 !important;
}

.tab {
  --animation-time: 200ms;

  position: relative;
  overflow: hidden;
}

.tab {
  --animation-time: 200ms;

  position: relative;
  overflow: hidden;
}

.tab::after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--underline-size, 2px);
  position: absolute;
  background-color: var(--underline-color, currentColor);
  transition:
    transform ease var(--animation-time, 200ms),
    opacity ease 0ms 200ms;
  transform: translateX(100%);
  opacity: 0;
}

.tab:not(.is-active)::after {
  transform: translateY(100%);
}


.tab.is-active::after {
  transform: translateX(0%);
  opacity: 1;
}


.page-tabs-wrapper {
  display: flex;
  border-radius: 6px 6px 0 0;
}

.tabs-content {
  height: 200px;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
}

.tabs {
  display: inline-flex;
  justify-content: center;
}

.tab {
  --underline-color: #BF63E5;
  --underline-size: 5px;
  color: inherit;
  font-family: system-ui, sans-serif;
  padding: 20px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
}

.page-content-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.btn-outline {
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
  background-color: #BF63E5;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: white;
}

.btn-outline:hover {
  background-color: #9e3ec7;
}